sudo tee /etc/systemd/system/hdfs.service > /dev/null <<EOF
[Unit]
Description=Hadoop HDFS NameNode
After=network.target

[Service]
Type=forking
Environment="JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64"
Environment="HDFS_NAMENODE_USER=new-azureuser"
Environment="HDFS_DATANODE_USER=new-azureuser"
Environment="HDFS_SECONDARYNAMENODE_USER=new-azureuser"
ExecStart=/opt/hadoop/sbin/start-dfs.sh
ExecStop=/opt/hadoop/sbin/stop-dfs.sh
User=new-azureuser
Restart=always

[Install]
WantedBy=multi-user.target
EOF
